body {
  background-color: grey;
}

section {
  width: 60%;
  margin: 0 auto;
  padding: 0;
  background-color: #CECECE;
}

header {
  margin-left: 36%;
}

h1 {
  font-size: 70px;
  font-family: inherit;
  font-weight: 100;
  margin: 0 auto;
}

.textBox {
  margin-left: 16%;
}

.text {
  width: 80%;
  height: 45px;
}

p {
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
  margin-left: 15%;
  padding: 0;
}

.buttons {
  display: inline-block;
  vertical-align: top;
  margin-left: 7%;
}

.delete {
  margin-left: 1%;
}

.delete-post {
  position: absolute;
  margin-left: 38%;
  margin-top: -3%;
}

.toDoContainer {
  list-style-type: none;
  width: 43%;
  margin-left: 9.7%;
}

.toDoContainer p {
  width: 157.5%;
  height: 45px;
  background-color: white;
  margin-top: 1%;
}

footer {
  margin-top: 1%;
}

footer p {
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
  margin-left: 18%;
  padding: 0;
}
